default:
    services:
        twitch:
            enabled: true
            channels:
                - <channel>
            username: <BotUsername>
            password: oauth:URMURGERDOAUTH
        beam :
            enabled: true
            channels:
                - <channel>
            username: <BotUsername>
            password: URMURGERDPLAINTEXTPASSWORDS
    interactive: true
