default:
    services:
        twitch:
            enabled: true
            channels:
                - ProbablePrime
            username: ProbableBot
            password: oauth:URMURGERDOAUTH
        beam :
            enabled: true
            channels:
                - ProbablePrime
            username: ProbableBot
            password: URMURGERDPLAINTEXTPASSWORDS
    interactive: true
